<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>

        <title>Acretion Simulation</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
    </head>
    <body>
        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>
        <div id="react-root"></div>
    </body>
</html>
